body {
    font-family: Arial, sans-serif;
    background-image: url(images/Tesla\ background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  